[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion-client = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
mongomantic = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.10"
